.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background: transparent;
    width: 100%;
    height: 70px;
    /* background-color: yellow; */
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06); */
}

.logoImage {
    width: 200px;
    height: 250px; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbarItem {
    padding: 0 20px;
    position: relative;
}

.navbarItem a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease-in-out;
}

.navbarItem a:hover,
.navbarItem a.active {
    color: yellowgreen;
}

.navbarItem a:hover::after,
.navbarItem a.active::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: yellowgreen;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobileMenu i {
    color: white;
}
